<a href="/flashcards">Back</a>

<h1>{{name}}</h1>
<img src={{gifURL}} alt="">

<form action="/flashcard/{{id}}/delete" method="POST"><button>Delete</button></form>
<a href="/flashcard/{{id}}/edit">Edit</a>