<a href="/flashcards">
  <h1>Back</h1>
</a>
<form action="/flashcard/new" method="POST">
  <div>
    <label>Name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Gif URL:</label>
    <input type="text" name="gifURL">
  </div>
  <div>
    <label>Just one dummy answer for now: </label>
    <input type="text" name="[dummyAnswers]">
  </div>
  <button>Create</button>
</form>